<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        				http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context-4.2.xsd
        				http://www.springframework.org/schema/aop
        				http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        				http://www.springframework.org/schema/tx
        				http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        				http://www.springframework.org/schema/util
        				http://www.springframework.org/schema/util/spring-util-4.2.xsd
        				http://www.springframework.org/schema/mvc
        				http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
        				
     <mvc:annotation-driven/>
	  
	 <!-- 开启注解 -->
	 <context:component-scan base-package=""/>
	 <context:annotation-config />
	 
	 <!-- 配置视图解析器 -->
	 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
	 p:prefix="/WEB-INF/jsp"
	 p:suffix=".jsp" />
	 
	 
	 <!-- 加载数据库配置 -->
	 <!-- <context:property-placeholder location="classpath:db.properties"/> -->
	
   	 <!-- dataSource -->
   	 <!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
   	 	   p:driverClass="${c3p0.driverClass}"
   	 	   p:jdbcUrl="${c3p0.jdbcUrl}"
   	 	   p:user="${c3p0.user}"
   	 	   p:password="${c3p0.password}"
   	 	   p:minPoolSize="${c3p0.minPoolSize}"
   	 	   p:maxPoolSize="${c3p0.maxPoolSize}"
   	 	   p:initialPoolSize="${c3p0.initialPoolSize}"/> -->
     <!--  SessionFactory -->
    <!--  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
     	   p:dataSource-ref="dataSource"
     	   p:configLocation="classpath:hibernate.cfg.xml">
     	   <property name="packagesToScan">
	     	   	<array>
	     	   		<value>springMVC_spring_mybatis.springMVC_spring_mybatis.oa.admin.identity</value>
	     	   		<value>springMVC_spring_mybatis.springMVC_spring_mybatis.oa.admin.leave</value>
	     	   		<value>springMVC_spring_mybatis.springMVC_spring_mybatis.oa.admin.addressbook</value>
	     	   	</array>
     	   </property>
     </bean> -->
     <!-- TransactionManager -->
     <!-- <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
     	   p:sessionFactory-ref="sessionFactory"/> -->
     <!-- 事务advice -->
     <!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
     	 <tx:attributes>
     	 	<tx:method name="set*" read-only="true"/>
     	 	<tx:method name="get*" read-only="true"/>
     	 	<tx:method name="*" read-only="false"/>
     	 </tx:attributes>
     </tx:advice> -->

     <!-- 配置切面 -->
    <!--  <aop:config>
          事务切面
     	<aop:pointcut expression="execution(* springMVC_spring_mybatis.springMVC_spring_mybatis.oa.*.*.service.impl.*.*(..))" id="pt"/>
     	<aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
     	日志切面
     	<aop:aspect ref="logAdvice">
     		<aop:around method="around" pointcut-ref="pt"/>
     		抛出异常后的处理方法
     		<aop:after-throwing method="error" pointcut-ref="pt" throwing="e"/>
     	</aop:aspect>
     </aop:config> -->
          

</beans>